.contact-row{
    position: relative;
    top: 60px;
    min-height: 800px;
   
}


.formControl{
    background-color:rgba(100, 100, 100, 0.144);
    color: white;
}

.formControl:focus-visible{
    background-color:rgba(100, 100, 100, 0.144);
    color: white;
}

.contact-main{
   background-color:#2805465b
}