 
.number-wrap i {
font-size: 50px;
color: #ffffff;
position:relative;
z-index:100;
padding-right: 15px;
}
.number-wrap>span{
font-size: 50px;
margin-bottom: 10px;
position:relative;
z-index:100;
  color: #fff;
}
.count-wrap{
	position:relative;
	border-radius: 8px;
    transition: all 1s cubic-bezier(.645, .045, .355, 1);
}
.count-wrap:hover{
	border-radius: 8px;
	transition: all 1s cubic-bezier(.645, .045, .355, 1);
	box-shadow: 0 10px 25px 10px rgb(0 0 0 / 10%);
    transform: translateY(-10px);
}
.count-wrap:before {
position: absolute;
content: "";
width: 96%;
height: 111%;
left: 0;
top: 0;
bottom: 0;
right: 0;
background: #ff029e31;
opacity: 0.8;
}
.count-wrap>span{
 font-weight: 500;
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 1px black;
font-size: 19px;
color:#ff9ee2;
position:relative;
z-index:100;
}

.card-hover{border:8px solid #f7f8ff;}
.card-hover:hover{border-color:#FF3D4F}
.gray-bg{
	background: #F6F5FF;
}
.sec-bg{
	background:#e205ff02;
}
.pl-70{
	padding-left:70px !important;
}
.py-70{
	padding-top:100px!important;
	padding-bottom:100px!important;
}
.pb-70{
	padding-bottom:100px;
}
.pt-70{
	padding-top:100px;
}
.mt-70{
	margin-top:70px;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
.counter{
	font-size: 50px;
    margin-bottom: 10px;
    position: relative;
    z-index: 100;
    color: #fff;
}
