.b-container{
     margin-top: 90px;
     margin-bottom: 90px;
     background-color:rgba(46, 5, 47, 0.157);
     border-radius:10px;
     box-shadow: 0px 0px 10px 0px white;
     border:1px solid;
     border: transparent;
}

.skill-card{
    background-color: rgba(255, 255, 255, 0.089);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px  rgb(255, 255, 255);
    border:1px solid rgba(255, 255, 255, 0.479);
    border-color: transparent;
}