.productCard {
  opacity: 1;
  transition: 2s ease;
  /* background-color: #ffffff1a; */
background: linear-gradient(#4A5567,rgba(255, 5, 5, 0.055),rgba(255, 3, 3, 0.096));
  box-shadow: 3px 3px 3px 3px  rgba(255, 255, 255, 0.226);
  
}

.productCard:hover {
  /* background-color: rgb(159, 13, 243) !important; */
 background: linear-gradient(rgba(192, 0, 250, 0.151),rgba(255, 3, 213, 0.308),rgba(255, 10, 194, 0.637))!important;
  color: rgb(255, 255, 255) !important;
  transition: 1s ease;
}

.productCard:hover .productImg {
  transform: scale(1.1);
  transition: 0.6s;
  
}
